bello2.csv
bello0.csv
bello-pagina2.csv
bello-pagina3.csv
bello-pagina4.csv
bello-pagina5.csv
estrella2.csv
estrella3.csv
estrella4.csv
estrella5.csv
medellinpage2.csv
medellinpage3.csv
medellinpage4.csv
medellinpage5.csv
sabaneta5.csv
sabaneta4.csv
sabaneta3.csv
sabaneta2.csv
envigado4.csv
envigado3.csv
envigado2.csv
envigado5.csv
itagui5.csv
itagui4.csv
itagui3.csv
itagui2.csv
copacabana5.csv
copacabana4.csv
copacabana3.csv
copacabana2.csv
girardota5.csv
girardota4.csv
girardota3.csv
girardota2.csv
data_properati.py
